/* Resetear márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general del cuerpo */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    background: #f0f0f0; /* Fondo más suave */
    color: #333;
}

/* Encabezado */
header {
    background: #4CAF50; /* Color de fondo */
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
}

header h1 {
    font-size: 3em; /* Tamaño más grande */
    margin-bottom: 10px;
    font-weight: 700; /* Negrita */
}

header p {
    font-size: 1.3em; /* Tamaño de fuente ligeramente mayor */
    font-weight: 300;
}

.search-form {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Añadido margen superior para bajar el formulario */
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-form button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.search-form button img {
    width: 20px;
    height: 20px;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
}

.container {
    margin-bottom: 40px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 15px; /* Más espacio abajo */
    color: #4CAF50;
    font-weight: 600;
    border-bottom: 3px solid #4CAF50; /* Línea abajo del título */
    padding-bottom: 10px;
}

p {
    font-size: 1.2em; /* Tamaño de fuente ligeramente mayor */
    margin-bottom: 25px; /* Más espacio abajo */
    line-height: 1.8; /* Mejor espaciado entre líneas */
}

/* Imágenes y video */
.responsive-img {
    display: block;
    width: 100%;
    max-width: 600px; /* Tamaño máximo ajustado */
    height: auto;
    margin: 20px auto; /* Añadido margen superior e inferior */
    border-radius: 12px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    transition: transform 0.3s ease; /* Transición suave */
}

.responsive-img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.video-container {
    margin: 30px 0; /* Añadido margen superior e inferior */
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    max-width: 80%; /* Tamaño máximo ajustado */
    margin: 0 auto;
    border-radius: 12px; /* Esquinas redondeadas */
    overflow: hidden; /* Oculta el desbordamiento */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Quita el borde */
    border-radius: 12px; /* Esquinas redondeadas */
}

/* Pie de página */
footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.footer-content h2 {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 700;
}

.footer-names {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px; /* Más espacio abajo */
}

.footer-names li {
    margin: 5px 0;
}

footer p {
    font-size: 1.1em;
    margin-top: 10px;
}
